@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-900: #1a1a1a;
  --color-slate-800: #1e293b;
  --color-slate-950: #020617;
}

@layer utilities {}

@layer base {
  :root {
    --radius: 0.5rem;
  }}